---
import Section from "@/components/Section.astro";
import { basics } from "@cv";

const { summary } = basics;
---

<Section title="Sobre mí">
    <p class="dark:text-white/40 text-black/60">
        {summary}
    </p>
</Section>
