---
import Section from "@/components/Section.astro";
import { skills } from "@cv";

import HTML from "@/icons/HTML.astro";
import CSS from "@/icons/CSS.astro";
import JavaScript from "@/icons/Javascript.astro";
import TypeScript from "@/icons/Typescript.astro";
import Tailwind from "@/icons/Tailwind.astro";
import Git from "@/icons/Git.astro";
import Github from "@/icons/Github.astro";
import React from "@/icons/React.astro";
import Astro_Framework from "@/icons/AstroBuild.astro";
import Salesforce from "@/icons/Salesforce.astro";

const ICONS_SKILLS: Record<string, any> = {
    HTML,
    CSS,
    JavaScript,
    TypeScript,
    Tailwind,
    Git,
    Github,
    React,
    Astro_Framework,
    Salesforce,
};
---

<Section title="Habilidades">
    <ul>
        {
            skills.map(({ name }) => {
                const iconName = 
                name === "Astro" ? "Astro_Framework" : 
                name.includes('Salesforce') ? "Salesforce" : name;
                
                const Icon = ICONS_SKILLS[iconName];
                return (
                    <li class="bg-gray-200 hover:bg-black/20 dark:bg-black/60 dark:hover:bg-white/20  border flex items-center gap-1 dark:text-white text-black px-2 py-1 rounded-md text-xs transition-all duration-300 ease-in-out">
                        {Icon && <Icon />}
                        <span>{name}</span>
                    </li>
                );
            })
        }
    </ul>
</Section>

<style>
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        justify-content: start;
    }

/*     li {
        align-items: center;
        background-color: #111827cc;
        border-radius: 5px;
        color: #fff;
        display: flex;
        font-size: 0.8rem;
        font-weight: 600;
        gap: .5rem;
        min-height: 31px;
        padding: 0.2rem 0.6rem;
        transition: all 0.3s ease;
    } */
</style>
